.landing {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
}

.landing__superman-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing__img-superman {
  max-width: 100%;
  height: auto;
  margin-left: -15%;
}

.landing__heading {
  font-size: 70px;
  text-align: right;
}


.landing__searchform {
  float: right;
}

