.battle-button {
  background: $main-color2;
  background: -moz-linear-gradient(top, $main-color2 0%, $main-color2 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, $main-color2),
    color-stop(100%, $main-color2)
  );
  background: -webkit-linear-gradient(top, $main-color2 0%, $main-color2 100%);
  background: -o-linear-gradient(top, $main-color2 0%, $main-color2 100%);
  background: -ms-linear-gradient(top, $main-color2 0%, $main-color2 100%);
  background: linear-gradient(to bottom, $main-color2 0%, $main-color2 100%);
  border: none;
  color: $main-color3;
  cursor: pointer;
  font-size: 22px;
  font-family: "MuseoModerno", cursive;
  padding: 10px;
  width: 70vw;
  box-shadow: 0 0 15px darken($main-color2, 20%) inset;
  -moz-box-shadow: 0 0 15px darken($main-color2, 20%) inset;
  -webkit-box-shadow: 0 0 15px darken($main-color2, 20%) inset;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;

  &:hover {
    background: $main-color3;
    -webkit-text-fill-color: darken($main-color2, 20%);
    box-shadow: 0 0 15px darken($main-color2, 20%) inset;
    -moz-box-shadow: 0 0 15px darken($main-color2, 20%) inset;
    -webkit-box-shadow: 0 0 15px darken($main-color2, 20%) inset;
  }

  @include media(medium) {
    padding: 7px;
    margin: 30px 0 0 0;
    width: 200px;
  }

  @include media(xlarge) {
    margin: 110px 0 0 0;
    font-size: 23px;
  }
}
