.featured-button {
  font-size: 22px;
  font-weight: bold;
  background: lighten($main-color, 10%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34adec', endColorstr='#2691dc',GradientType=0 );
  border: none;
  color: $main-color3;
  cursor: pointer;
  font-family: "MuseoModerno", cursive;
  padding: 10px;
  margin: 15px 0 0 0;
  width: 100%;
  box-shadow: 0 0 9px $main-color inset;
  -moz-box-shadow: 0 0 9px $main-color inset;
  -webkit-box-shadow: 0 0 9px $main-color inset;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;

  &:hover {
    opacity: 0.9;
    -webkit-text-fill-color: $main-color3;
    background: $main-color;
    background: -moz-linear-gradient(
      top,
      rgbalighten($main-color, 10%) 0%,
      rgbalighten($main-color, 10%) 100%
    );
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, rgbalighten($main-color, 10%)),
      color-stop(100%, rgbalighten($main-color, 10%))
    );
    background: -webkit-linear-gradient(
      top,
      rgbalighten($main-color, 10%) 0%,
      rgbalighten($main-color, 10%) 100%
    );
    background: -o-linear-gradient(
      top,
      rgbalighten($main-color, 10%) 0%,
      rgbalighten($main-color, 10%) 100%
    );
    background: -ms-linear-gradient(
      top,
      rgbalighten($main-color, 10%) 0%,
      rgbalighten($main-color, 10%) 100%
    );
    background: linear-gradient(
      to bottom,
      rgbalighten($main-color, 10%) 0%,
      rgbalighten($main-color, 10%) 100%
    );
  }

  @include media(medium) {
    margin: 60px 0;
    font-size: 15px;
    width: 180px;
    margin: 45px 0;
    float: right;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    background: $main-color3;
    border: none;
    color: lighten($main-color, 10%);
    cursor: pointer;
    font-family: "MuseoModerno", cursive;
    padding: 10px;
    box-shadow: 0 0 9px $main-color inset;
    -moz-box-shadow: 0 0 9px $main-color inset;
    -webkit-box-shadow: 0 0 9px $main-color inset;
  }

  @include media(xlarge) {
    margin: 60px 0;
    font-size: 17px;
    width: 200px;
  }
}
