.searchform {
  background: #f4f4f4;
  background: rgba(244, 244, 244, 0.79);
  border: 1px solid #d3d3d3;
  padding: 2px 5px;
  width: 343px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  @include shadow2;

  &__input,
  &__button {
    float: left;
    font-size: 17px;

    @include media(xlarge) {
      font-size: 17px;
    }
  }

  &__input {
    background: $main-color3;
    border: none;
    font-family: "MuseoModerno", cursive;
    margin-right: 5px;
    padding: 10px;
    width: 220px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4) inset,
      1px 1px 1px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4) inset,
      1px 1px 1px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4) inset,
      1px 1px 1px rgba(255, 255, 255, 0.75);
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;

    &:focus {
      outline: none;
      @include shadow3();
    }

    &::-webkit-input-placeholder {
      line-height: 15px;
    }

    &:-moz-placeholder {
      line-height: 15px;
    }

    @include media(medium) {
      font-size: 15px;
      width: 193px;
      height: 35px;
    }

    @include media(xlarge) {
      width: 230px;
    }
  }

  &__button {
    background: lighten($main-color, 30%);
    background: -moz-linear-gradient(
      top,
      $main-color 0%,
      $main-color 100%
    );
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, $main-color),
      color-stop(100%, $main-color)
    );
    background: -webkit-linear-gradient(
      top,
      $main-color 0%,
      $main-color 100%
    );
    background: -o-linear-gradient(
      top,
      $main-color 0%,
      $main-color 100%
    );
    background: -ms-linear-gradient(
      top,
      $main-color 0%,
      $main-color 100%
    );
    background: linear-gradient(
      to bottom,
      $main-color 0%,
      $main-color 100%
    );
    border: none;
    color: $main-color3;
    cursor: pointer;
    font-family: "MuseoModerno", cursive;
    padding: 10px;
    width: 106px;
    box-shadow: 0 0 2px $main-color inset;
    -moz-box-shadow: 0 0 2px $main-color inset;
    -webkit-box-shadow: 0 0 2px $main-color inset;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;

    @include media(medium) {
      font-size: 15px;
      width: 90px;
      line-height: 15px;
    }

    @include media(xlarge) {
      width: 133px;
    }
  }

  &:hover {
    opacity: 0.9;
  }

  @include media(medium) {
    max-width: 300px;
    height: 40px;
  }

  @include media(xlarge) {
    min-width: 380px;
  }
}
