.searchform {
  background: #f4f4f4;
  background: rgba(244, 244, 244, 0.79);
  border: 1px solid #d3d3d3;
  padding: 2px 5px;
  width: 343px;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0 4px 9px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 0 4px 9px rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;

  &__input,
  &__button {
    float: left;
    font-size: 17px;

    @include media(xlarge) {
      font-size: 17px;
    }
  }

  &__input {
    background: #fefefe;
    border: none;
    font-family: "MuseoModerno", cursive;
    margin-right: 5px;
    padding: 10px;
    width: 220px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4) inset,
      1px 1px 1px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4) inset,
      1px 1px 1px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4) inset,
      1px 1px 1px rgba(255, 255, 255, 0.75);
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;

    &:focus {
      outline: none;
      box-shadow: 0 0 4px #0d76be inset;
      -moz-box-shadow: 0 0 4px #0d76be inset;
      -webkit-box-shadow: 0 0 4px #0d76be inset;
    }

    &::-webkit-input-placeholder {
      line-height: 15px;
    }

    &:-moz-placeholder {
      line-height: 15px;
    }

    @include media(medium) {
      font-size: 15px;
      width: 193px;
      height: 35px;
    }

    @include media(xlarge) {
      width: 230px;
    }
  }

  &__button {
    background: rgb(52, 173, 236);
    background: -moz-linear-gradient(
      top,
      rgba(52, 173, 236, 1) 0%,
      rgba(38, 145, 220, 1) 100%
    );
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, rgba(52, 173, 236, 1)),
      color-stop(100%, rgba(38, 145, 220, 1))
    );
    background: -webkit-linear-gradient(
      top,
      rgba(52, 173, 236, 1) 0%,
      rgba(38, 145, 220, 1) 100%
    );
    background: -o-linear-gradient(
      top,
      rgba(52, 173, 236, 1) 0%,
      rgba(38, 145, 220, 1) 100%
    );
    background: -ms-linear-gradient(
      top,
      rgba(52, 173, 236, 1) 0%,
      rgba(38, 145, 220, 1) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(52, 173, 236, 1) 0%,
      rgba(38, 145, 220, 1) 100%
    );
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: "MuseoModerno", cursive;
    padding: 10px;
    width: 106px;
    box-shadow: 0 0 2px #2692dd inset;
    -moz-box-shadow: 0 0 2px #2692dd inset;
    -webkit-box-shadow: 0 0 2px #2692dd inset;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;

    @include media(medium) {
      font-size: 15px;
      width: 90px;
      line-height: 15px;
    }

    @include media(xlarge) {
      width: 133px;
    }
  }

  &:hover {
    opacity: 0.9;
  }

  @include media(medium) {
    max-width: 300px;
    height: 40px;
  }

  @include media(xlarge) {
    min-width: 380px;
  }
}
