.battle-mainpage {
  height: fit-content;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media(medium) {
    min-height: 100vh;
    padding-top: 120px;
    flex-direction: row;
    align-items: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    @include media(medium) {
      height: 450px;
      flex-grow: 2;
    }
  }

  &__heading {
    background-color: rgba(211, 54, 60, 1);
    box-shadow: 0 0 15px rgb(153, 74, 65) inset;
    color: white;
    width: 100vw;
    font-size: 42px;
    text-align: center;
    padding: 5px;

    @include media(medium) {
      color: initial;
      background-color: initial;
      box-shadow: none;
      font-size: 52px;
      width: initial;
      margin: 15px 0 10px 0;
      padding: initial;
      text-align: initial;
    }
  }

  &__description {
    font-size: 30px;
    text-align: center;
    margin: 0 10px;

    @include media(medium) {
      text-align: initial;
      margin: initial;
    }
  }

  &__button {
    // margin: 10px 10px;
    // position: absolute;
    // bottom: 300px;

    @include media(medium) {
      margin: initial;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    margin-right: -8px;

    @include media(medium) {
      margin-right: -40px;
    }
  }
}
