.battle-hero-card {
  &__heading-container {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    font-size: 12px;
    line-height: 95%;
    background: white;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34adec', endColorstr='#2691dc',GradientType=0 );
    border: none;
    color: rgb(10, 10, 0);
    cursor: pointer;
    font-family: "MuseoModerno", cursive;
    margin: 10px 5px;
    box-shadow: 0 0 4px #2692dd;
    -moz-box-shadow: 0 0 4px #2692dd;
    -webkit-box-shadow: 0 0 4px #2692dd;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    &:hover {
      color: white;
      background-color: #2692dd;
    }
  }
}
