.battle-mainpage {
  min-height: 100vh;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media(medium) {
    min-height: 100vh;
    padding-top: 120px;
    flex-direction: row;
    align-items: center;
  }

  &__info {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 450px;
  }

  &__heading {
    background-color: rgba(211, 54, 60, 1);
    box-shadow: 0 0 15px rgb(153, 74, 65) inset;
    color: white;
    width: 100vw;
    font-size: 42px;
    text-align: center;

    @include media(medium) {
      color: initial;
      background-color: initial;
      box-shadow: none;
      font-size: 52px;
      width: initial;
      margin: 15px 0 10px 0;
      text-align: initial;
    }
  }

  &__description {
    font-size: 30px;
  }

  &__button {
    font-size: 40px;
  }

  &__image {
    display: flex;
    justify-content: center;
    margin-right: -40px;
  }
}
