.battle-heroes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 48.5%;

  &__heading {
    text-align: center;
  }

  &__list {
    padding: 20px 20px;
    min-height: 100px;
    border-radius: 20px;
    -webkit-box-shadow: inset 0px 3px 24px -6px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 0px 3px 24px -6px rgba(66, 68, 90, 1);
    box-shadow: inset 0px 3px 24px -6px rgba(66, 68, 90, 1);

    @include media(medium) {
      padding: 0 0 0 20px;
    }

    @include media(xlarge) {
      padding: 0 0 0 40px;
    }

    &--shining {
      -webkit-box-shadow: inset 0px 3px 50px -6px rgba(242, 200, 59, 1);
      -moz-box-shadow: inset 0px 3px 50px -6px rgba(242, 200, 59, 1);
      box-shadow: inset 0px 3px 50px -6px rgba(242, 200, 59, 1);
    }
  }

  &__list-item {
    width: 300px;
    // max-width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    @include media(medium) {
      margin: 15px 0;
      width: 300px;
    }

    @include media(xlarge) {
      width: 380px;
      margin: 15px 0;
    }
  }

  &__list-item-info {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 65px;

    @include media(xlarge) {
      min-height: 65px;
    }
  }

  &__list-item-info-details {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bolder;
  }

  &__list-item-stats {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: initial;
    flex-direction: column;
    margin: 15px 0 0 0;

    @include media(medium) {
      flex-direction: column;
      margin: 15px 0 0 0;
    }

    @include media(xlarge) {
      margin: 5px 0 0 0;
      flex-direction: row;
    }
  }

  &__stats-icon {
    width: 20px;
    height: auto;

    @include media(xlarge) {
      margin: 0 8px 0 0;
    }
  }

  &__remove-button {
    display: block;
    font-size: 12px;
    background: white;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34adec', endColorstr='#2691dc',GradientType=0 );
    border: none;
    color: rgb(10, 10, 0);
    cursor: pointer;
    font-family: "MuseoModerno", cursive;
    padding: 5px 15px;
    margin: 0 -5px 0 0;
    box-shadow: 0 0 4px #2692dd inset;
    -moz-box-shadow: 0 0 4px #2692dd inset;
    -webkit-box-shadow: 0 0 4px #2692dd inset;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
}
