.battle {
  min-height: 100vh;
  width: 340px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 45px 0;

  @include media(medium) {
    width: 100%;
  }

  &__container {
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 3%;

    @include media(medium) {
      flex-direction: row;
    }
  }

  &__result-button {
    min-height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__button-fight {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    background: lighten($main-color, 8%);
    border: none;
    color: $main-color3;
    cursor: pointer;
    font-family: "MuseoModerno", cursive;
    padding: 10px;
    width: 100%;
    box-shadow: 0 0 9px $main-color inset;
    -moz-box-shadow: 0 0 9px $main-color inset;
    -webkit-box-shadow: 0 0 9px $main-color inset;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
  }

  &__button-newfight {
    display: $main-color4;
    margin: 10px auto 0 auto;
    font-size: 12px;
    font-weight: bold;
    background: $main-color3;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34adec', endColorstr='#2691dc',GradientType=0 );
    border: none;
    color: lighten($main-color, 8%);
    cursor: pointer;
    font-family: "MuseoModerno", cursive;
    padding: 5px 15px;
    box-shadow: 0 0 4px $main-color inset;
    -moz-box-shadow: 0 0 4px $main-color inset;
    -webkit-box-shadow: 0 0 4px $main-color inset;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }

  &__result {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 30px;
  }

  &__choose-character {
    text-align: center;
    color: darken($main-color3, 20%);
    font-weight: 400;
  }
}
