.battle-hero-card {
  &__heading-container {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
  }

  &__buttons-container {
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 1px;
    border-radius: 150px 150px 0px 0px;
  }

  &__btn {
    padding: 3px 0;
    display: inline-block;
    background-color: $main-color;
    color: $main-color3;
    flex-grow: 2;
    text-align: center;
    border-radius: 150px 150px 0px 0px;

    &:hover {
      color: $main-color;
      background-color: $main-color3;
      transition: background-color 0.2s ease-in-out;
    }
  }

  &__btn--add {
    border-radius: 20px 0px 0px 0px;
    padding-left: 5px;
  }

  &__btn--remove {
    border-radius: 0px 20px 0px 0px;
    padding-right: 5px;
  }

  &__button {
    font-size: 12px;
    line-height: 95%;
    background: $main-color3;
    border: none;
    color: $main-color4;
    cursor: pointer;
    font-family: "MuseoModerno", cursive;
    margin: 10px;
    box-shadow: 0 0 4px $main-color;
    -moz-box-shadow: 0 0 4px $main-color;
    -webkit-box-shadow: 0 0 4px $main-color;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    &:hover {
      color: $main-color3;
      background-color: $main-color;
      transition: background-color 0.2s ease-in-out;
    }
  }
}
