.battle-mainpage {
  min-height: 100vh;
  padding-top: 120px;
  display: flex;
  align-items: center;

  &__info {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 450px;
  }

  &__heading {
    font-size: 52px;
    margin: 15px 0 10px 0;
  }

  &__description {
    font-size: 30px;
  }

  &__button {
    font-size: 40px;
  }

  &__image {
    display: flex;
    justify-content: center;
    margin-right: -40px;
  }
}
