.details {
  padding-top: 90px;

  &__goback-button {
    font-size: 22px;
    // font-weight: bold;
    background: rgb(52, 173, 236);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34adec', endColorstr='#2691dc',GradientType=0 );
    border: none;
    color: #fff;
    font-family: "MuseoModerno", cursive;
    padding: 10px;
    width: 100%;
    box-shadow: 0 0 9px #2692dd inset;
    -moz-box-shadow: 0 0 9px #2692dd inset;
    -webkit-box-shadow: 0 0 9px #2692dd inset;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;

    &:hover {
      opacity: 0.9;
      -webkit-text-fill-color: white;
      background: rgb(52, 173, 236);
      background: -moz-linear-gradient(
        top,
        rgba(52, 173, 236, 1) 0%,
        rgba(38, 145, 220, 1) 100%
      );
      background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0%, rgba(52, 173, 236, 1)),
        color-stop(100%, rgba(38, 145, 220, 1))
      );
      background: -webkit-linear-gradient(
        top,
        rgba(52, 173, 236, 1) 0%,
        rgba(38, 145, 220, 1) 100%
      );
      background: -o-linear-gradient(
        top,
        rgba(52, 173, 236, 1) 0%,
        rgba(38, 145, 220, 1) 100%
      );
      background: -ms-linear-gradient(
        top,
        rgba(52, 173, 236, 1) 0%,
        rgba(38, 145, 220, 1) 100%
      );
      background: linear-gradient(
        to bottom,
        rgba(52, 173, 236, 1) 0%,
        rgba(38, 145, 220, 1) 100%
      );
    }

    @include media(medium) {
      font-size: 15px;
      width: 180px;
      margin: 45px 0;
      float: right;
      border-radius: 9px;
      -moz-border-radius: 9px;
      -webkit-border-radius: 9px;
      background: #fff;
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34adec', endColorstr='#2691dc',GradientType=0 );
      border: none;
      color: rgba(10, 10, 20, 0.8);
      font-family: "MuseoModerno", cursive;
      padding: 10px;
      box-shadow: 0 0 9px grey inset;
      -moz-box-shadow: 0 0 9px grey inset;
      -webkit-box-shadow: 0 0 9px grey inset;
    }

    @include media(xlarge) {
      position: absolute;
      right: 40px;
      top: -5px;
      font-size: 12px;
      width: 80px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 420px;
    border-radius: 20px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25);
    transition: transform 0.5s ease-in-out;
    background-color: white;
    padding: 30px 30px;
    margin: 0 auto;

    @include media(medium) {
      width: 700px;
      max-width: none;
      padding: 40px 40px 20px 40px;
    }

    @include media(xlarge) {
      width: 1000px;
      cursor: pointer;
    }
  }

  &__container {
    margin-top: 90px;
  }

  &__heading {
    font-size: 27px;
    padding-bottom: 10px;
    margin: 10px 0;
    text-align: center;
  }

  &__info-position {
    color: rgba(0, 0, 0, 0.9);
    font-size: 14px;
    margin: 13px 0;
  }

  &__rendered-info {
    font-size: 20px;
    color: black;
    margin-left: 8px;
  }

  &__info__img {
    display: block;
    margin: 5px auto 5px auto;
    width: 95%;
    height: auto;
    border-radius: 20px;

    @include media(medium) {
      margin: 0;
      width: 300px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    @include media(medium) {
      flex-direction: row;
      padding-bottom: 20px;
    }
  }

  &__info__data {
    padding-left: 20px;
    flex-grow: 2;

    @include media(medium) {
      padding-left: 50px;
    }
  }

  &__stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    background-color: white;
  }

  &__stats-container {
    padding: 20px;
  }

  &__stats-icon {
    width: 25px;
  }

  &__stats-info {
    margin: 0;
  }
}
