.details {
  padding-top: 90px;

  &__goback-button {
    position: absolute;
    transform: translate(50%);
    right: 50%;
    top: -20px;
    font-size: 12px;
    font-size: 15px;
    width: 71%;
    margin: 45px 0;
    float: right;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    background: $main-color3;
    border: none;
    color: $main-color4;
    font-family: "MuseoModerno", cursive;
    padding: 10px;
    box-shadow: 0 3px 7px lighten($main-color4, 10%) inset;

    &:hover {
      opacity: 0.9;
      -webkit-text-fill-color: $main-color3;
      background: lighten($main-color, 10%);
      background: -moz-linear-gradient(top, $main-color 0%, $main-color 100%);
      background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0%, $main-color),
        color-stop(100%, $main-color)
      );
      background: -webkit-linear-gradient(
        top,
        $main-color 0%,
        $main-color 100%
      );
      background: -o-linear-gradient(top, $main-color 0%, $main-color 100%);
      background: -ms-linear-gradient(top, $main-color 0%, $main-color 100%);
      background: linear-gradient(
        to bottom,
        $main-color 0%,
        $main-color$main-color3
      );
    }

    @include media(medium) {
      right: 30px;
      top: -5px;
      transform: none;
      font-size: 12px;
      width: 70px;
      min-height: 60px;
      margin: 45px 0;
      float: right;
      padding: 10px;
    }

    @include media(xlarge) {
      position: absolute;
      right: 40px;
      top: -5px;
      width: 70px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
    max-width: 420px;
    border-radius: 20px;
    box-shadow: 0 3px 7px $main-color4;
    transition: transform 0.5s ease-in-out;
    background-color: $main-color3;
    padding: 30px 30px;
    margin: 20px auto;

    @include media(medium) {
      width: 700px;
      max-width: none;
      padding: 40px 40px 20px 40px;
    }

    @include media(xlarge) {
      width: 1000px;
      cursor: pointer;
    }
  }

  &__container {
    margin-top: 90px;
  }

  &__heading {
    font-size: 27px;
    padding-bottom: 10px;
    margin: 10px 0;
    text-align: center;

    @include media(medium) {
      width: 180px;
    }

    @include media(xlarge) {
      width: initial;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin: 60px 0 0 0;

    @include media(medium) {
      margin: 0;
      flex-direction: row;
      padding-bottom: 20px;
    }
  }

  &__info-position {
    color: $main-color4;
    font-size: 14px;
    margin: 13px 0;
  }

  &__rendered-info {
    font-size: 20px;
    color: $main-color4;
    margin-left: 8px;
  }

  &__info__img {
    display: block;
    margin: 5px auto 5px auto;
    width: 95%;
    height: auto;
    border-radius: 20px;

    @include media(medium) {
      margin: 0;
      width: 300px;
    }
  }

  &__info__data {
    padding-left: 20px;
    flex-grow: 2;

    @include media(medium) {
      padding-left: 40px;
    }
  }

  &__stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    background-color: $main-color3;
  }

  &__list-item-stats {
    padding: 20px;
  }

  &__stats-icon {
    width: 33px;
  }

  &__stats-info {
    margin: 0;
    font-size: 20px;
  }
}
