.hero-card {
  position: relative;
  margin: 10px auto;
  width: 100%;
  max-width: 320px;
  border-radius: 20px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25);
  transition: transform 0.5s ease-in-out;
  background-color: white;
}

.hero-card__img-container {
display: flex;
justify-content: center;
}

.hero-card__img-component {
  height: 450px;
}

@media (min-width: 768px) {
  .hero-card {
    width: 43%;
  }
  .hero-card__img-component {
    height: 500px;
  }
}

@media (min-width: 1200px) {
  .hero-card {
    width: 32%;
    cursor: pointer;
  }

  .hero-card:after {
    content: "";
    border-radius: 20px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .hero-card:hover {
    transform: scale(1.1);
  }

  .hero-card:hover::after {
    opacity: 1;
  }
}

.hero-card h2 {
  margin: 10px 0;
  text-align: center;
}

.hero-card__img-component {
  position: relative;
  display: block;
  width: 93%;
  height: 390px;
  margin: 0 auto;
  border-radius: 20px;
}

.hero-card__stats {
  display: flex;
  justify-content: space-around;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 15px 0 5px 0;
  text-align: center;
  background-color: white;
}

.hero-card__stats-icon {
  width: 25px;
  margin-top: 10px;
}
