.details {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 420px;
  border-radius: 20px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25);
  transition: transform 0.5s ease-in-out;
  background-color: white;
  padding: 30px 30px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .details {
    width: 700px;
    max-width: none;
    padding: 40px 40px 20px 40px;
  }
}

@media (min-width: 1200px) {
  .details {
    width: 1000px;
    cursor: pointer;
  }
}

.details h2 {
  margin: 10px 0;
  text-align: center;
}

.details__info__img {
  display: block;
  margin: 10px auto;
  width: 90%;
  height: auto;
  border-radius: 20px;
}

@media (min-width: 768px) {
  .details__info__img {
    margin: 0;
    max-width: 45%;
  }
}

@media (min-width: 1200px) {
  .details__info__img {
    max-width: 30%;
  }
}

.details__info {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .details__info {
    flex-direction: row;
    padding-bottom: 20px;
  }
}

.details__info__data {
  padding-left: 20px;
}

@media (min-width: 768px) {
  .details__info__data {
    padding-left: 50px;
  }
}

.details__stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  background-color: white;
}

.details__stats div {
  padding: 20px;
}

.details__stats p {
  margin: 0;
}

.details__stats__icon {
  width: 25px;
}
