@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300;500&display=swap");

*,
*:after,
*:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

body {
  font-family: "MuseoModerno", cursive;
  font-weight: 300;
}

h1 {
  font-size: 170%;
}

h2 {
  font-size: 130%;
}

h1,
h2 {
  font-weight: bold;
}

main {
  min-height: 620px;
}

@media (min-width: 768px) {
  .container {
    margin: 0 auto;
    width: 720px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}


