.featured {
  /* height: calc(100vh + 80px); */
  padding-top: 80px;
  display: flex;
  flex-direction: column;
}

.featured h1 {
  margin-bottom: 15px;
  text-align: center;
}

@media (min-width: 768px) {
  .featured h1 {
    text-align: initial;
  }
}

.featured__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-shrink: 2;
}
